In [ ]:
!pip install -q findspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 9.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=2c6abe9e0953689941f29d95876ac686d9a1c76a002b3e4bf2567affcd5951f4
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession, window
from pyspark import SparkConf
from pyspark.sql.functions import *

In [ ]:
my_conf = SparkConf()

In [ ]:
my_conf.set("Saprk.App.Name","Window_aggregration")
my_conf.set("spark.master","local[*]")

In [ ]:
spark = SparkSession.builder.config(conf=my_conf).getOrCreate()

In [ ]:
inputDF = spark.read.format("csv").option("path","/content/windowdata.csv").load()

In [ ]:
inputDF.show()

+--------------+---+---+-----+---------+
|           _c0|_c1|_c2|  _c3|      _c4|
+--------------+---+---+-----+---------+
|         Spain| 49|  1|   67|   174.72|
|       Germany| 48| 11| 1795|  3309.75|
|     Lithuania| 48|  3|  622|  1598.06|
|       Germany| 49| 12| 1852|  4521.39|
|       Bahrain| 51|  1|   54|   205.74|
|       Iceland| 49|  1|  319|   711.79|
|         India| 51|  5|   95|   276.84|
|     Australia| 50|  2|  133|   387.95|
|         Italy| 49|  1|   -2|    -17.0|
|         India| 49|  5| 1280|   3284.1|
|         Spain| 50|  2|  400|  1049.01|
|United Kingdom| 51|200|28782| 75103.46|
|        Norway| 49|  1| 1730|  1867.98|
|United Kingdom| 48|478|68865|166116.72|
|        France| 51|  5|  847|  1702.87|
|      Portugal| 49|  4|  726|  1844.67|
|         Spain| 48|  1|  400|    620.0|
|         India| 48|  7| 2822|  3147.23|
|       Germany| 50| 15| 1973|  5065.79|
|         Italy| 51|  1|  131|    383.7|
+--------------+---+---+-----+---------+
only showing top 20 rows

In [ ]:
inputDF2 = inputDF.toDF("country","weeknum","num_of_invoices","total_quantity","invoice_number")

In [ ]:
inputDF2.show()

+--------------+-------+---------------+--------------+--------------+
|       country|weeknum|num_of_invoices|total_quantity|invoice_number|
+--------------+-------+---------------+--------------+--------------+
|         Spain|     49|              1|            67|        174.72|
|       Germany|     48|             11|          1795|       3309.75|
|     Lithuania|     48|              3|           622|       1598.06|
|       Germany|     49|             12|          1852|       4521.39|
|       Bahrain|     51|              1|            54|        205.74|
|       Iceland|     49|              1|           319|        711.79|
|         India|     51|              5|            95|        276.84|
|     Australia|     50|              2|           133|        387.95|
|         Italy|     49|              1|            -2|         -17.0|
|         India|     49|              5|          1280|        3284.1|
|         Spain|     50|              2|           400|       1049.01|
|United Kingdom|     51|            200|         28782|      75103.46|
|        Norway|     49|              1|          1730|       1867.98|
|United Kingdom|     48|            478|         68865|     166116.72|
|        France|     51|              5|           847|       1702.87|
|      Portugal|     49|              4|           726|       1844.67|
|         Spain|     48|              1|           400|         620.0|
|         India|     48|              7|          2822|       3147.23|
|       Germany|     50|             15|          1973|       5065.79|
|         Italy|     51|              1|           131|         383.7|
+--------------+-------+---------------+--------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import Window

In [ ]:
# Creating a Window for finding the running total of the each country and ordering by weeknum
my_window = Window.partitionBy("country").orderBy("weeknum").rowsBetween(Window.unboundedPreceding,Window.currentRow)

In [ ]:
# Running Total is new column so created a new column using withcolumn and passing the window to that
my_df_updated = inputDF2.withColumn("RunningTotal",sum("invoice_number").over(my_window))

In [ ]:
my_df_updated.show()

+---------------+-------+---------------+--------------+--------------+------------------+
|        country|weeknum|num_of_invoices|total_quantity|invoice_number|      RunningTotal|
+---------------+-------+---------------+--------------+--------------+------------------+
|      Australia|     48|              1|           107|        358.25|            358.25|
|      Australia|     49|              1|           214|         258.9|            617.15|
|      Australia|     50|              2|           133|        387.95|1005.0999999999999|
|        Austria|     50|              2|             3|        257.04|            257.04|
|        Bahrain|     51|              1|            54|        205.74|            205.74|
|        Belgium|     48|              1|           528|         346.1|             346.1|
|        Belgium|     50|              2|           285|        625.16|            971.26|
|        Belgium|     51|              2|           942|        838.65|1809.9099999999999|
|Channel Islands|     49|              1|            80|        363.53|            363.53|
|         Cyprus|     50|              1|           917|       1590.82|           1590.82|
|        Denmark|     49|              1|           454|        1281.5|            1281.5|
|        Finland|     50|              1|          1254|         892.8|             892.8|
|         France|     48|              4|          1299|       2808.16|           2808.16|
|         France|     49|              9|          2303|       4527.01|           7335.17|
|         France|     50|              6|           529|        537.32|           7872.49|
|         France|     51|              5|           847|       1702.87|           9575.36|
|        Germany|     48|             11|          1795|       3309.75|           3309.75|
|        Germany|     49|             12|          1852|       4521.39|           7831.14|
|        Germany|     50|             15|          1973|       5065.79|          12896.93|
|        Germany|     51|              5|          1103|       1665.91|          14562.84|
+---------------+-------+---------------+--------------+--------------+------------------+
only showing top 20 rows

In [ ]:
df1 = spark.read.csv("/content/customers.csv",header=True,inferSchema=True)

In [ ]:
# Storing the file in the json format
df1.write.format('json').option("path","/content/customer").save()

In [ ]:
df2 = spark.read.csv("/orders.csv",header=True,inferSchema=True)

In [ ]:
df2.write.format("json").option("path","/content/orders").save()

In [ ]:
#loading the json files
ordersDF = spark.read.format("json").option("path","/part-00000-78f4173b-81d2-4d0f-b06b-555cef289bd7-c000.json").load()

In [ ]:
customerDF = spark.read.format("json").option("path","/part-00000-9d2c7dd5-15e6-4a04-afce-d3f0368ef30e-c000.json").load()

In [ ]:
ordersDF.show()

+-----------------+----------+--------+---------------+
|order_customer_id|order_date|order_id|   order_status|
+-----------------+----------+--------+---------------+
|            11599|   00:00.0|       1|         CLOSED|
|              256|   00:00.0|       2|PENDING_PAYMENT|
|            12111|   00:00.0|       3|       COMPLETE|
|             8827|   00:00.0|       4|         CLOSED|
|            11318|   00:00.0|       5|       COMPLETE|
|             7130|   00:00.0|       6|       COMPLETE|
|             4530|   00:00.0|       7|       COMPLETE|
|             2911|   00:00.0|       8|     PROCESSING|
|             5657|   00:00.0|       9|PENDING_PAYMENT|
|             5648|   00:00.0|      10|PENDING_PAYMENT|
|              918|   00:00.0|      11| PAYMENT_REVIEW|
|             1837|   00:00.0|      12|         CLOSED|
|             9149|   00:00.0|      13|PENDING_PAYMENT|
|             9842|   00:00.0|      14|     PROCESSING|
|             2568|   00:00.0|      15|       COMPLETE|
|             7276|   00:00.0|      16|PENDING_PAYMENT|
|             2667|   00:00.0|      17|       COMPLETE|
|             1205|   00:00.0|      18|         CLOSED|
|             9488|   00:00.0|      19|PENDING_PAYMENT|
|             9198|   00:00.0|      20|     PROCESSING|
+-----------------+----------+--------+---------------+
only showing top 20 rows

In [ ]:
customerDF.show()

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|  Brownsville|     XXXXXXXXX|       Richard|          1|     Hernandez|        XXXXXXXXX|            TX|  6303 Heather Plaza|           78521|
|    Littleton|     XXXXXXXXX|          Mary|          2|       Barrett|        XXXXXXXXX|            CO|9526 Noble Embers...|           80126|
|       Caguas|     XXXXXXXXX|           Ann|          3|         Smith|        XXXXXXXXX|            PR|3422 Blue Pioneer...|             725|
|   San Marcos|     XXXXXXXXX|          Mary|          4|         Jones|        XXXXXXXXX|            CA|  8324 Little Common|           92069|
|       Caguas|     XXXXXXXXX|        Robert|          5|        Hudson|        XXXXXXXXX|            PR|10 Crystal River ...|             725|
|      Passaic|     XXXXXXXXX|          Mary|          6|         Smith|        XXXXXXXXX|            NJ|3151 Sleepy Quail...|            7055|
|       Caguas|     XXXXXXXXX|       Melissa|          7|        Wilcox|        XXXXXXXXX|            PR|9453 High Concession|             725|
|     Lawrence|     XXXXXXXXX|         Megan|          8|         Smith|        XXXXXXXXX|            MA|3047 Foggy Forest...|            1841|
|       Caguas|     XXXXXXXXX|          Mary|          9|         Perez|        XXXXXXXXX|            PR| 3616 Quaking Street|             725|
|     Stafford|     XXXXXXXXX|       Melissa|         10|         Smith|        XXXXXXXXX|            VA|8598 Harvest Beac...|           22554|
|       Caguas|     XXXXXXXXX|          Mary|         11|       Huffman|        XXXXXXXXX|            PR|    3169 Stony Woods|             725|
|  San Antonio|     XXXXXXXXX|   Christopher|         12|         Smith|        XXXXXXXXX|            TX|5594 Jagged Ember...|           78227|
|       Caguas|     XXXXXXXXX|          Mary|         13|       Baldwin|        XXXXXXXXX|            PR|7922 Iron Oak Gar...|             725|
|  Pico Rivera|     XXXXXXXXX|     Katherine|         14|         Smith|        XXXXXXXXX|            CA|5666 Hazy Pony Sq...|           90660|
|      Fontana|     XXXXXXXXX|          Jane|         15|          Luna|        XXXXXXXXX|            CA|    673 Burning Glen|           92336|
|       Caguas|     XXXXXXXXX|       Tiffany|         16|         Smith|        XXXXXXXXX|            PR|      6651 Iron Port|             725|
|       Taylor|     XXXXXXXXX|          Mary|         17|      Robinson|        XXXXXXXXX|            MI|     1325 Noble Pike|           48180|
|     Martinez|     XXXXXXXXX|        Robert|         18|         Smith|        XXXXXXXXX|            CA|2734 Hazy Butterf...|           94553|
|       Caguas|     XXXXXXXXX|     Stephanie|         19|      Mitchell|        XXXXXXXXX|            PR|3543 Red Treasure...|             725|
|West New York|     XXXXXXXXX|          Mary|         20|         Ellis|        XXXXXXXXX|            NJ|      4703 Old Route|            7093|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
JoinedDF = ordersDF.join(customerDF,ordersDF.order_customer_id == customerDF.customer_id, "inner")

In [ ]:
JoinedDF.show()

+-----------------+----------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|order_customer_id|order_date|order_id|   order_status|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-----------------+----------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|            11599|   00:00.0|       1|         CLOSED|      Hickory|     XXXXXXXXX|          Mary|      11599|        Malone|        XXXXXXXXX|            NC|8708 Indian Horse...|           28601|
|              256|   00:00.0|       2|PENDING_PAYMENT|      Chicago|     XXXXXXXXX|         David|        256|     Rodriguez|        XXXXXXXXX|            IL|7605 Tawny Horse ...|           60625|
|            12111|   00:00.0|       3|       COMPLETE|   Santa Cruz|     XXXXXXXXX|         Amber|      12111|        Franco|        XXXXXXXXX|            CA|8766 Clear Prairi...|           95060|
|             8827|   00:00.0|       4|         CLOSED|  San Antonio|     XXXXXXXXX|         Brian|       8827|        Wilson|        XXXXXXXXX|            TX|   8396 High Corners|           78240|
|            11318|   00:00.0|       5|       COMPLETE|       Caguas|     XXXXXXXXX|          Mary|      11318|         Henry|        XXXXXXXXX|            PR|3047 Silent Ember...|             725|
|             7130|   00:00.0|       6|       COMPLETE|     Brooklyn|     XXXXXXXXX|         Alice|       7130|         Smith|        XXXXXXXXX|            NY|      8852 Iron Port|           11237|
|             4530|   00:00.0|       7|       COMPLETE|        Miami|     XXXXXXXXX|          Mary|       4530|         Smith|        XXXXXXXXX|            FL|1073 Green Leaf G...|           33161|
|             2911|   00:00.0|       8|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       2911|         Smith|        XXXXXXXXX|            PR|9166 Golden Necta...|             725|
|             5657|   00:00.0|       9|PENDING_PAYMENT|     Lakewood|     XXXXXXXXX|          Mary|       5657|         James|        XXXXXXXXX|            OH|  1389 Dusty Circuit|           44107|
|             5648|   00:00.0|      10|PENDING_PAYMENT|      Memphis|     XXXXXXXXX|        Joshua|       5648|         Smith|        XXXXXXXXX|            TN|864 Iron Spring S...|           38111|
|              918|   00:00.0|      11| PAYMENT_REVIEW|       Caguas|     XXXXXXXXX|        Nathan|        918|         Smith|        XXXXXXXXX|            PR|    9627 Honey Trail|             725|
|             1837|   00:00.0|      12|         CLOSED|       Caguas|     XXXXXXXXX|          Mary|       1837|          Vega|        XXXXXXXXX|            PR|  4312 Bright Corner|             725|
|             9149|   00:00.0|      13|PENDING_PAYMENT|    Santa Ana|     XXXXXXXXX|        Ronald|       9149|     Whitehead|        XXXXXXXXX|            CA|6789 Round Robin ...|           92705|
|             9842|   00:00.0|      14|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       9842|         Smith|        XXXXXXXXX|            PR|454 Lazy Branch F...|             725|
|             2568|   00:00.0|      15|       COMPLETE|      Memphis|     XXXXXXXXX|         Maria|       2568|         Smith|        XXXXXXXXX|            TN|   3544 Fallen Mount|           38127|
|             7276|   00:00.0|      16|PENDING_PAYMENT|       Caguas|     XXXXXXXXX|        Pamela|       7276|         Smith|        XXXXXXXXX|            PR|    9243 Old Gardens|             725|
|             2667|   00:00.0|      17|       COMPLETE|   Sun Valley|     XXXXXXXXX|         Tammy|       2667|         Smith|        XXXXXXXXX|            CA|   8906 Rustic Mall |           91352|
|             1205|   00:00.0|      18|         CLOSED|        Miami|     XXXXXXXXX|          Mary|       1205|        Powell|        XXXXXXXXX|            FL|9299 Quiet Pionee...|           33126|
|             9488|   00:00.0|      19|PENDING_PAYMENT|      Hialeah|     XXXXXXXXX|          Mary|       9488|         Smith|        XXXXXXXXX|            FL|    9758 Foggy Range|           33012|
|             9198|   00:00.0|      20|     PROCESSING|Bowling Green|     XXXXXXXXX|         David|       9198|          Kerr|        XXXXXXXXX|            KY|7312 Crystal Will...|           42101|
+-----------------+----------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [ ]:

my_join = ordersDF.order_customer_id == customerDF.customer_id

my_join_type = "right"

In [ ]:
# Cutomer who never placed any orders
No_order_customerDF = ordersDF.join(customerDF, my_join, my_join_type).sort("order_customer_id")

In [ ]:
No_order_customerDF.show()

+-----------------+----------+--------+------------+-------------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|order_customer_id|order_date|order_id|order_status|      customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-----------------+----------+--------+------------+-------------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|             null|      null|    null|        null|             Denver|     XXXXXXXXX|          Mary|        219|       Harrell|        XXXXXXXXX|            CO|9016 Foggy Robin ...|           80219|
|             null|      null|    null|        null|          Henderson|     XXXXXXXXX|       Matthew|       9060|         Patel|        XXXXXXXXX|            NV|7190 Silver Horse...|           89014|
|             null|      null|    null|        null|         Long Beach|     XXXXXXXXX|          Mary|        339|        Greene|        XXXXXXXXX|            CA|     4271 Hazy Close|           90805|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|       Carolyn|       4927|         Green|        XXXXXXXXX|            PR|7550 Sleepy View ...|             725|
|             null|      null|    null|        null|             Malden|     XXXXXXXXX|       Stephen|       6072|         Smith|        XXXXXXXXX|            MA|849 Noble Apple P...|            2148|
|             null|      null|    null|        null|        Brownsville|     XXXXXXXXX|       Richard|          1|     Hernandez|        XXXXXXXXX|            TX|  6303 Heather Plaza|           78521|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|        Ashley|       6613|         Smith|        XXXXXXXXX|            PR|9847 Dusty Horse ...|             725|
|             null|      null|    null|        null|            Danbury|     XXXXXXXXX|       Dorothy|       1187|       Vazquez|        XXXXXXXXX|            CT| 363 Green Goose Run|            6810|
|             null|      null|    null|        null|          Wyandotte|     XXXXXXXXX|         Kevin|       7011|         Smith|        XXXXXXXXX|            MI|1915 Thunder Hick...|           48192|
|             null|      null|    null|        null|           Billings|     XXXXXXXXX|        Albert|       1808|       Ellison|        XXXXXXXXX|            MT|   9795 Heather Wynd|           59102|
|             null|      null|    null|        null|             Howell|     XXXXXXXXX|          Carl|       7552|         Smith|        XXXXXXXXX|            MI|    9966 Cinder Loop|           48843|
|             null|      null|    null|        null|              Bronx|     XXXXXXXXX|          Jose|       2096|        Tanner|        XXXXXXXXX|            NY|8976 Old Hickory ...|           10467|
|             null|      null|    null|        null|           New York|     XXXXXXXXX|          Gary|       8243|        Walker|        XXXXXXXXX|            NY|2447 Stony Barn S...|           10128|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|          Mary|       4555|         Smith|        XXXXXXXXX|            PR|5455 Red Lagoon Maze|             725|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|          Mary|       8343|        Bolton|        XXXXXXXXX|            PR|   7302 Sunny Valley|             725|
|             null|      null|    null|        null|South San Francisco|     XXXXXXXXX|         Randy|        469|         Smith|        XXXXXXXXX|            CA|252 Golden Goose ...|           94080|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|          Mary|       8575|       Mueller|        XXXXXXXXX|            PR|9714 Emerald Bear...|             725|
|             null|      null|    null|        null|          Sunnyvale|     XXXXXXXXX|         Donna|       2073|      Stephens|        XXXXXXXXX|            CA|   9792 Cozy Corners|           94087|
|             null|      null|    null|        null|             Caguas|     XXXXXXXXX|          Mary|       8778|         Smith|        XXXXXXXXX|            PR|4015 Tawny Rise C...|             725|
|             null|      null|    null|        null|            Hickory|     XXXXXXXXX|       Kenneth|       8882|         Smith|        XXXXXXXXX|            NC| 6754 Iron Leaf Line|           28601|
+-----------------+----------+--------+------------+-------------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
DuplicateDF = spark.read.format("csv").option("header",True).option("inferschema",True).option("path","/content/orders.csv").load()

In [ ]:
DuplicateDF.show()
DuplicateDF.printSchema()

+---------+----------+---------+---------------+
|order_id0|order_date|order_id2|   order_status|
+---------+----------+---------+---------------+
|        1|   00:00.0|    11599|         CLOSED|
|        2|   00:00.0|      256|PENDING_PAYMENT|
|        3|   00:00.0|    12111|       COMPLETE|
|        4|   00:00.0|     8827|         CLOSED|
|        5|   00:00.0|    11318|       COMPLETE|
|        6|   00:00.0|     7130|       COMPLETE|
|        7|   00:00.0|     4530|       COMPLETE|
|        8|   00:00.0|     2911|     PROCESSING|
|        9|   00:00.0|     5657|PENDING_PAYMENT|
|       10|   00:00.0|     5648|PENDING_PAYMENT|
|       11|   00:00.0|      918| PAYMENT_REVIEW|
|       12|   00:00.0|     1837|         CLOSED|
|       13|   00:00.0|     9149|PENDING_PAYMENT|
|       14|   00:00.0|     9842|     PROCESSING|
|       15|   00:00.0|     2568|       COMPLETE|
|       16|   00:00.0|     7276|PENDING_PAYMENT|
|       17|   00:00.0|     2667|       COMPLETE|
|       18|   00:00.0|     1205|         CLOSED|
|       19|   00:00.0|     9488|PENDING_PAYMENT|
|       20|   00:00.0|     9198|     PROCESSING|
+---------+----------+---------+---------------+
only showing top 20 rows

root
 |-- order_id0: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id2: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [ ]:
DuplicateDF.write.format("json").mode("overwrite").option("path","/content/orders").save()

In [ ]:
#when we have duplicate columns while loading we could use the above code to make it as casesensitive
spark.conf.set("spark.sql.caseSensitive","true")

In [ ]:
sample_DF = spark.read.json("/insightslogsPipelineruns.json")

In [ ]:
sample_DF.show()

+-----+------------+--------------------+--------------------+--------------------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+
|Level|    category|       correlationId|                 end|             groupId|        level|   location|       operationName|        pipelineName|          properties|          resourceId|               runId|               start|    status|                tags|                time|
+-----+------------+--------------------+--------------------+--------------------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+
|    4|PipelineRuns|f664e844-9b8d-4ef...|2023-02-16T18:01:...|f664e844-9b8d-4ef...|Informational|northeurope|pl_load_file - Su...|        pl_load_file|{[], , {WM POS - ...|/SUBSCRIPTIONS/23...|f664e844-9b8d-4ef...|2023-02-16T17:40:...| Succeeded|{"CostCentre":"91...|2023-02-16T18:01:...|
|    4|PipelineRuns|705d7ab1-61c4-4db...|1601-01-01T00:00:00Z|705d7ab1-61c4-4db...|Informational|northeurope|pl_AutoAttributio...|pl_AutoAttributio...|{[], null, {null,...|/SUBSCRIPTIONS/23...|705d7ab1-61c4-4db...|2023-02-16T18:00:...|    Queued|{"CostCentre":"91...|2023-02-16T18:00:...|
|    4|PipelineRuns|705d7ab1-61c4-4db...|1601-01-01T00:00:00Z|705d7ab1-61c4-4db...|Informational|northeurope|pl_AutoAttributio...|pl_AutoAttributio...|{[], , {null, nul...|/SUBSCRIPTIONS/23...|705d7ab1-61c4-4db...|2023-02-16T18:00:...|InProgress|{"CostCentre":"91...|2023-02-16T18:00:...|
|    4|PipelineRuns|e7debd59-71df-491...|2023-02-16T18:05:...|e7debd59-71df-491...|Informational|northeurope|pl_load_file - Su...|        pl_load_file|{[], , {WM Daily ...|/SUBSCRIPTIONS/23...|e7debd59-71df-491...|2023-02-16T17:22:...| Succeeded|{"CostCentre":"91...|2023-02-16T18:05:...|
|    4|PipelineRuns|705d7ab1-61c4-4db...|2023-02-16T18:11:...|705d7ab1-61c4-4db...|Informational|northeurope|pl_AutoAttributio...|pl_AutoAttributio...|{[], , {null, nul...|/SUBSCRIPTIONS/23...|705d7ab1-61c4-4db...|2023-02-16T18:00:...| Succeeded|{"CostCentre":"91...|2023-02-16T18:11:...|
+-----+------------+--------------------+--------------------+--------------------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+